{% extends 'base.html' %}
{% block title %}EDU | {{edu.name}}{% endblock title %}
{% block contx %}
<div class="container txt-clr">
    <h1>Groups for {{ edu.name }}</h1>

    <div class="card cs-card">
        <div class="accordion" id="accordionGroups">
            <!-- First Accordion -->
            {% if teach_group %}
            <div class="fst">
                <div class="card-header bg-snd" id="heading_fst">
                    <h2 class="mb-0">
                        <button class="btn btn-info w-100 " type="button" data-toggle="collapse" data-target="#collapse_fst" aria-expanded="true" aria-controls="collapse_fst">
                            <span class="float-left">{{teach_group.name}}</span>
                            {% if perms.edu_members.can_change_groups_edu %}
                            <span class="float-right">
                                {% comment %} <a class="btn btn-danger btn-sm" href="#">Edit</a> {% endcomment %}
                                <a class="btn btn-success btn-sm" href="{% url 'add_to_group' teach_group.name edu.pk_key %}" target="_blank">Add</a>
                            </span>
                            {% endif %}
                        </button>
                    </h2>
                </div>
        
                <div id="collapse_fst" class="collapse show" aria-labelledby="heading_fst" data-parent="#accordionGroups">
                    <div class="card-body bg-snd">
                       <div class="table-responsive">
                        <table class="table table-bordered txt-clr">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Full Name</th>
                                    <th>
                                        <span class="float-right">Action</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in teach_group.members.all %}
                                <tr>
                                    <td>{{member.user}}</td>
                                    <td>{{member.user.get_full_name}}</td>
                                    <td>
                                        <form class="float-right" method="POST" action="">
                                            {% csrf_token %}
                                            {% if perms.edu_members.can_change_groups_edu %}
                                            <input type="hidden" name="member_id" value="{{member.id}}">
                                            <input type="hidden" name="action" value="rm_teacher">
                                            <button class="btn btn-danger btn-sm mb-2">Remove</button>
                                            {% endif %}
                                            <a class="btn btn-success btn-sm mb-2" href="{% url 'eduFacultyP' edu.pk_key member.eduID %}" target="_blank">View</a>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                       </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
        
            <!-- Second Accordion -->
            {% if adm_group %}
            <div class="snd">
                <div class="card-header bg-snd" id="heading_snd">
                    <h2 class="mb-0">
                        <button class="btn btn-info w-100 " type="button" data-toggle="collapse" data-target="#collapse_snd" aria-expanded="true" aria-controls="collapse_snd">
                            <span class="float-left">{{adm_group.name}}</span>
                            {% if perms.edu_members.can_change_groups_edu %}
                            <span class="float-right">
                                {% comment %} <a class="btn btn-danger btn-sm" href="#">Edit</a> {% endcomment %}
                                <a class="btn btn-success btn-sm" href="{% url 'add_to_group'  adm_group.name edu.pk_key %}" target="_blank">Add</a>
                            </span>
                            {% endif %}
                        </button>
                    </h2>
                </div>
        
                <div id="collapse_snd" class="collapse" aria-labelledby="heading_snd" data-parent="#accordionGroups">
                    <div class="card-body bg-snd">
                        <div class="table-responsive">
                            <table class="table table-bordered txt-clr">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Full Name</th>
                                        <th>
                                            <span class="float-right">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in adm_group.members.all %}
                                    <tr>
                                        <td>{{member.user}}</td>
                                        <td>{{member.user.get_full_name}}</td>
                                        <td>
                                            <form class="float-right" method="POST" action="">
                                                {% csrf_token %}
                                                {% if perms.edu_members.can_change_groups_edu %}
                                                <input type="hidden" name="member_id" value="{{member.id}}">
                                                <input type="hidden" name="action" value="rm_admin">
                                                <button class="btn btn-danger btn-sm mb-2">Remove</button>
                                                {% endif %}
                                                <a class="btn btn-success btn-sm mb-2" href="{% url 'eduFacultyP' edu.pk_key member.eduID %}" target="_blank">View</a>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!--Fifth -->
            <div class="fifth">
                <div class="card-header bg-snd" id="heading_fifth">
                    <h2 class="mb-0">
                        <button class="btn btn-info w-100" type="button" data-toggle="collapse" data-target="#collapse_fifth" aria-expanded="true" aria-controls="collapse_fifth">
                            <span class="float-left">Head Of the Department</span>
                        </button>
                    </h2>
                </div>
        
                <div id="collapse_fifth" class="collapse" aria-labelledby="heading_fifth" data-parent="#accordionGroups">
                    <div class="card-body bg-snd">
                        <div class="table-responsive">
                            <table class="table table-bordered txt-clr">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Full Name</th>
                                        <th>Department</th>
                                        <th>
                                            <span class="float-right">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dept in dpt_head %}
                                    <tr>
                                        {% for i_head in dept.members.all %}
                                        <td>{{i_head.user}}</td>
                                        <td>{{i_head.user.get_full_name}}</td>
                                        <td>{{dept.department.name}}</td>
                                        <td>
                                            <form class="float-right" method="POST" action="">
                                                {% csrf_token %}
                                                {% if perms.edu_members.can_change_groups_edu and perms.edu_members.can_edit_edu_lvl2 %}
                                                <input type="hidden" name="member_id" value="{{i_head.id}}">
                                                <input type="hidden" name="sub" value="{{dept.department.id}}">
                                                <input type="hidden" name="action" value="rm_hod">
                                                <button class="btn btn-danger btn-sm mb-2">Remove</button>
                                                {% endif %}
                                                <a class="btn btn-success btn-sm mb-2" href="{% url 'eduFacultyP' edu.pk_key i_head.eduID %}" target="_blank">View</a>
                                            </form>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--sixth -->
            <div class="sixth">
                <div class="card-header bg-snd" id="heading_sixeth">
                    <h2 class="mb-0">
                        <button class="btn btn-info w-100" type="button" data-toggle="collapse" data-target="#collapse_sixeth" aria-expanded="true" aria-controls="collapse_sixeth">
                            <span class="float-left">Class Incharge</span>
                        </button>
                    </h2>
                </div>
        
                <div id="collapse_sixeth" class="collapse" aria-labelledby="heading_sixeth" data-parent="#accordionGroups">
                    <div class="card-body bg-snd">
                        <div class="table-responsive">
                            <table class="table table-bordered txt-clr">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Full Name</th>
                                        <th>Class</th>
                                        <th>Department</th>
                                        <th>
                                            <span class="float-right">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for clsIn in class_incharge %}
                                    <tr>
                                        {% for in_cls in clsIn.members.all %}
                                        <td>{{in_cls.user}}</td>
                                        <td>{{in_cls.user.get_full_name}}</td>
                                        <td>{{clsIn.Eclass}}</td>
                                        <td>{{clsIn.department.name}}</td>
                                        <td>
                                            <form class="float-right" method="POST" action="">
                                                {% csrf_token %}
                                                {% if perms.edu_members.can_change_groups_edu and perms.edu_members.can_edit_edu_lvl2 %}
                                                <input type="hidden" name="member_id" value="{{in_cls.id}}">
                                                <input type="hidden" name="sub" value="{{clsIn.Eclass.id}}">
                                                <input type="hidden" name="action" value="rm_cls">
                                                <button class="btn btn-danger btn-sm mb-2">Remove</button>
                                                {% endif %}
                                                <a class="btn btn-success btn-sm mb-2" href="{% url 'eduFacultyP' edu.pk_key in_cls.eduID %}" target="_blank">View</a>
                                            </form>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third Accordion -->
            {% if sub_head %}
            <div class="thrd">
                <div class="card-header bg-snd" id="heading_third">
                    <h2 class="mb-0">
                        <button class="btn btn-info w-100" type="button" data-toggle="collapse" data-target="#collapse_third" aria-expanded="true" aria-controls="collapse_third">
                            <span class="float-left">{{sub_head.name}}</span>
                            {% if perms.edu_members.can_change_groups_edu and perms.edu_members.can_edit_edu_lvl1 %}
                            <span class="float-right">
                                {% comment %} <a class="btn btn-danger btn-sm" href="#">Edit</a> {% endcomment %}
                                <a class="btn btn-success btn-sm" href="{% url 'add_to_group' sub_head.name edu.pk_key %}" target="_blank">Add</a>
                            </span>
                            {% endif %}
                        </button>
                    </h2>
                </div>
        
                <div id="collapse_third" class="collapse" aria-labelledby="heading_third" data-parent="#accordionGroups">
                    <div class="card-body bg-snd">
                        <div class="table-responsive">
                            <table class="table table-bordered txt-clr">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Full Name</th>
                                        <th>
                                            <span class="float-right">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in sub_head.members.all %}
                                    <tr>
                                        <td>{{member.user}}</td>
                                        <td>{{member.user.get_full_name}}</td>
                                        <td>
                                            <form class="float-right" method="POST" action="">
                                                {% csrf_token %}
                                                {% if perms.edu_members.can_change_groups_edu and perms.edu_members.can_edit_edu_lvl1 %}
                                                <input type="hidden" name="member_id" value="{{member.id}}">
                                                <input type="hidden" name="action" value="rm_sub_head">
                                                <button class="btn btn-danger btn-sm mb-2">Remove</button>
                                                {% endif %}
                                                <a class="btn btn-success btn-sm mb-2" href="{% url 'eduFacultyP' edu.pk_key member.eduID %}" target="_blank">View</a>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Forth Accordion -->
            {% if edu_head %}
            <div class="forth">
                <div class="card-header bg-snd" id="heading_forth">
                    <h2 class="mb-0">
                        <button class="btn btn-info w-100" type="button" data-toggle="collapse" data-target="#collapse_forth" aria-expanded="true" aria-controls="collapse_forth">
                            <span class="float-left">{{edu_head.name}}</span>
                            {% if perms.edu_members.can_change_groups_edu and perms.edu_members.can_edit_edu_lvl1 %}
                            <span class="float-right">
                                {% comment %} <a class="btn btn-danger btn-sm" href="#">Edit</a> {% endcomment %}
                                <a class="btn btn-success btn-sm" href="{% url 'add_to_group' edu_head.name edu.pk_key %}" target="_blank">Add</a>
                            </span>
                            {% endif %}
                        </button>
                    </h2>
                </div>
        
                <div id="collapse_forth" class="collapse" aria-labelledby="heading_forth" data-parent="#accordionGroups">
                    <div class="card-body bg-snd">
                        <div class="table-responsive">
                            <table class="table table-bordered txt-clr">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Full Name</th>
                                        <th>
                                            <span class="float-right">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in edu_head.members.all %}
                                    <tr>
                                        <td>{{member.user}}</td>
                                        <td>{{member.user.get_full_name}}</td>
                                        <td>
                                            <form class="float-right" method="POST" action="">
                                                {% csrf_token %}
                                                {% if perms.edu_members.can_change_groups_edu and perms.edu_members.can_edit_edu_lvl1 %}
                                                <input type="hidden" name="member_id" value="{{member.id}}">
                                                <input type="hidden" name="action" value="rm_head">
                                                <button class="btn btn-danger btn-sm mb-2">Remove</button>
                                                {% endif %}
                                                <a class="btn btn-success btn-sm mb-2" href="{% url 'eduFacultyP' edu.pk_key member.eduID %}" target="_blank">View</a>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            
           
        </div>
    </div>
    
<!--container_end-->
</div>
{% endblock contx %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    
{% endblock script %}