{% extends 'base.html' %}
{% block title %}Talab al-ilm | Error 403{% endblock title %}

{% block contx %}
<div class="container error-container  p-2">
  <div class="jumbotron  cs-card p-2 text-center">
    <div class="bg-snd txt-clr p-4">
      <h1 class="display-4">Error 403</h1>
      <p class="lead">Sorry, you don't have permission to access this page.</p>
      <hr class="main-bg">
      <p>Please contact the administrator for assistance.</p>
      <a class="btn btn-danger btn-lg" href="#" onclick="goBack()">Go Back</a>
    </div>
  </div>
</div>
{% endblock contx %}
<!--page-scrips-->
{% block scripts %}
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock scripts %}

