{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Dashboard{% endblock title %}</title>
{% block head_files %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/sl-nav.css' %}">
{% endblock head_files %}
{% block fluid_contx %}
<div class="ccontainer-fluid globel-side">
    <div class="nav-slide">
        <label>
            <input type="checkbox" class="checkit">
            <div class="toggle">
                <span class="fst-coln common "><i class="bi bi-arrow-left-square-fill"></i></span>
                <span class="snd-coln common "><i class="bi bi-arrow-right-square-fill"></i></span>
                <span class="trd-coln common "></span>
            </div>
            <div class="nav-area">
                <ul class="nav flex-column  p-4 mt-4">
                    
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'genProfile' request.user %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profileSetting' request.user %}">Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'createEdu' %}">Create Edu</a>
                    </li>
                    {% if edu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'eduD' edu.pk_key  %}">EDU</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogForm' %}">Write Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'bloglist' %}">Blogs</a>
                    </li>
                    
                </ul>
            </div>
        </label>
    </div>
    <!--contx-->
    <div class="contx">
        
    {% block dashRoom %}
    {% endblock dashRoom %}
    </div>
    <!--main-f-container-->
</div>
{% endblock fluid_contx %}